import os.path

In [1]:
from os import path
import sqlite3
import pandas as pd

Using a connection object we can create a cursor object which allows us to <br>
execute SQLite command/queries through Python.<br>
We can create as many cursors as we want from a single connection object. <br>
Like connection object, this cursor object is also not thread-safe. the sqlite3 <br>
module doesnâ€™t allow sharing cursors between threads. If you still try to do so, <br>
you will get an exception at runtime.

the advantage of cursor is that it retuns extra information at insert level

In [3]:
DBName = '..\dataset/sql-employee.db'

craete new database

In [4]:
def create_conn(pDBName):
    if path.exists(pDBName):
        print("Database File Exists ...")
        pConn = None
        return (pConn)    
    try:
        pConn = sqlite3.connect(pDBName)
        print("Database Creation Successful ...")
    except:
        print("Database Creation Failed ...")
        pConn = None
    return (pConn)

open existing database

In [5]:
def open_conn(pDBName):
    if not path.exists(pDBName):
        print("Database File Not Found ...")
        pConn = None
        return (pConn)    
    try:
        pConn = sqlite3.connect(pDBName)
        print("Connection Successful ...")
    except:
        print("Connection Failed ...")
        pConn = None
    return (pConn)

close database

In [6]:
def close_conn(pConn):
    pConn.close()
    print("Connection Closed ...")
    return

show tables

In [7]:
def show_tables(pConn):
	conn = open_conn(DBName)
	# query
	try:
		curs = conn.cursor()
		rows = curs.execute(""" select name from sqlite_master where type = 'table'; """)
		print("Query Successful ...")
		for row in rows:
			print(row)    
	except:  
		print("Query Failed ...")
	#commit the changes to db			
	conn.commit()
	#close the connnection
	close_conn(conn)
	#
	return

======================================================<br>
create db<br>
======================================================

In [8]:
conn = create_conn(DBName)
if conn != None:
    close_conn(conn)

Database Creation Successful ...
Connection Closed ...

======================================================<br>
create table<br>
======================================================

In [9]:
conn = open_conn(DBName)
# query
try:
    curs = conn.cursor()
    curs.execute("""
        CREATE TABLE employee (
            id INTEGER,
            name TEXT,
            donation REAL,
            location TEXT,
            status INTEGER 
        );
    """)
    print("Table Creation Successful ...")
except:  
    print("Table Creation Failed ...")
# commit the changes to db			
if conn != None:
    conn.commit()
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Table Creation Successful ...
Connection Closed ...

======================================================<br>
show tables<br>
======================================================

In [10]:
show_tables(DBName)

Connection Successful ...
Query Successful ...
('employee',)
Connection Closed ...

======================================================<br>
insert single record<br>
======================================================

In [11]:
conn = open_conn(DBName)
try:
    sql = """INSERT INTO employee (id, name, donation, location, status) 
                values (101,'Vipul Pats', 6800.00, 'India', 1)"""
    curs = conn.cursor()
    curs.execute(sql)
    conn.commit()        
    print("Insert Successful ...")
    print("Rows Inserted: "+str(curs.rowcount))
except:
    print("Insert Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Insert Successful ...
Rows Inserted: 1
Connection Closed ...

======================================================<br>
insert multiple records<br>
======================================================<br>
prepare

In [12]:
conn = open_conn(DBName)
try:
    sql = """INSERT INTO employee (id, name, donation, location, status) values (?, ?, ?, ?, ?);"""
    data = [(102, 'Adil Null', 5500.00, 'India', 1),
            (103, 'Abbas connti', 6500.00, 'India', 1),
            (104, 'Abzi Book', 7000.00, 'India', 0)]        
    # insert group records
    curs = conn.cursor()
    curs.executemany(sql, data)
    conn.commit()
    #print('We have inserted', curs.rowcount, 'records to the table.')
    print("Group Insert Successful ...")
    print("Rows Inserted: "+str(curs.rowcount))
except:
    print("Group Insert Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Group Insert Successful ...
Rows Inserted: 3
Connection Closed ...

======================================================<br>
select statement    <br>
======================================================

In [13]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee""")
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
(101, 'Vipul Pats', 6800.0, 'India', 1)
(102, 'Adil Null', 5500.0, 'India', 1)
(103, 'Abbas connti', 6500.0, 'India', 1)
(104, 'Abzi Book', 7000.0, 'India', 0)
Connection Closed ...

======================================================<br>
check if table exists<br>
not possible with con objet only<br>
requries cursor object<br>
======================================================

In [14]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    curs.execute(""" SELECT count(name) FROM sqlite_master WHERE type='table' AND name='employee' """)
    # if the count is 1, then table exists
    if (curs.fetchone()[0] == 1):
        print('Table Exists ...')
except:
    print('Table Not Exists ...')
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Table Exists ...
Connection Closed ...

======================================================<br>
update records<br>
======================================================

In [15]:
conn = open_conn(DBName)
try:
    sql = """ UPDATE employee SET donation = 9000 where id = 101 """
    curs = conn.cursor()
    curs.execute(sql)
    conn.commit()        
    print("Update Successful ...")
    print("Rows Updated: "+str(curs.rowcount))
except:
    print("Update Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Update Successful ...
Rows Updated: 1
Connection Closed ...

======================================================<br>
delete records<br>
======================================================

In [16]:
conn = open_conn(DBName)
try:
    sql = """ DELETE from employee where id = 101 """
    curs = conn.cursor()
    curs.execute(sql)
    conn.commit()        
    print("Delete Successful ...")
    print("Rows Deleted: "+str(curs.rowcount))
except:
    print("Delete Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Delete Successful ...
Rows Deleted: 1
Connection Closed ...

======================================================<br>
drop tables<br>
======================================================<br>
create table

In [17]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    curs.execute("""
        CREATE TABLE salary (
            id INTEGER,
            salary REAL,
            joindate TEXT
        );
    """)
    print("Table Creation Successful ...")
except:  
    print("Table Creation Failed ...")
# commit the changes to db			
if conn != None:
    conn.commit()
# close the connnection
if conn != None:
    close_conn(conn)
#
# show tables
show_tables(DBName)
#
# drop table
conn = open_conn(DBName)
try:
    sql = """ DROP table IF EXISTS salary; """
    curs = conn.cursor()
    curs.execute(sql)
    conn.commit()        
    print("Drop Table Successful ...")
    print("Rows Deleted: "+str(curs.rowcount))
except:
    print("Drop Table Failed ...")
# commit the changes to db			
if conn != None:
    conn.commit()
# close the connnection
if conn != None:
    close_conn(conn)
#
# show tables
show_tables(DBName)

Connection Successful ...
Table Creation Successful ...
Connection Closed ...
Connection Successful ...
Query Successful ...
('employee',)
('salary',)
Connection Closed ...
Connection Successful ...
Drop Table Successful ...
Rows Deleted: -1
Connection Closed ...
Connection Successful ...
Query Successful ...
('employee',)
Connection Closed ...

======================================================<br>
select condition<br>
======================================================

In [18]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee WHERE donation > 6000 """)
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
(103, 'Abbas connti', 6500.0, 'India', 1)
(104, 'Abzi Book', 7000.0, 'India', 0)
Connection Closed ...

======================================================<br>
select order by<br>
======================================================

In [19]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee ORDER BY id """)
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
(102, 'Adil Null', 5500.0, 'India', 1)
(103, 'Abbas connti', 6500.0, 'India', 1)
(104, 'Abzi Book', 7000.0, 'India', 0)
Connection Closed ...

======================================================<br>
select limit<br>
======================================================

In [20]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee ORDER BY id LIMIT 2 """)
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
(102, 'Adil Null', 5500.0, 'India', 1)
(103, 'Abbas connti', 6500.0, 'India', 1)
Connection Closed ...

======================================================<br>
select condition and<br>
======================================================

In [21]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee WHERE donation >= 6000 AND donation < 7000 """)
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
(103, 'Abbas connti', 6500.0, 'India', 1)
Connection Closed ...

======================================================<br>
select condition or<br>
======================================================

In [22]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee WHERE donation < 6000 or donation >= 7000 """)
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
(102, 'Adil Null', 5500.0, 'India', 1)
(104, 'Abzi Book', 7000.0, 'India', 0)
Connection Closed ...

======================================================<br>
select condition like<br>
======================================================

In [23]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee WHERE name like "Ab%" """)
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
(103, 'Abbas connti', 6500.0, 'India', 1)
(104, 'Abzi Book', 7000.0, 'India', 0)
Connection Closed ...

======================================================<br>
select condition like<br>
======================================================

In [28]:
conn = open_conn(DBName)
try:
    curs = conn.cursor()
    rows = curs.execute("""SELECT * FROM employee WHERE name like "%pul%" """)
    print("Select Successful ...")
    for row in rows:
        print(row)    
except:
    print("Select Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)

Connection Successful ...
Select Successful ...
Connection Closed ...

======================================================<br>
sql to df<br>
======================================================

In [31]:
conn = open_conn(DBName)
try:
    df = pd.read_sql_query("SELECT * from employee", conn)
    print("SQL To DF Successful ...")
except:
    print("SQL To DF Failed ...")
# close the connnection
if conn != None:
    close_conn(conn)
print(df.head())
print(df.info())

Connection Successful ...
SQL To DF Successful ...
Connection Closed ...
    id          name  donation location  status
0  102     Adil Null    5500.0    India       1
1  103  Abbas connti    6500.0    India       1
2  104     Abzi Book    7000.0    India       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3 non-null      int64
 1   name      3 non-null      object
 2   donation  3 non-null      float64
 3   location  3 non-null      object
 4   status    3 non-null      int64
dtypes: float64(1), int64(2), object(2)
memory usage: 248.0+ bytes
None

======================================================<br>
df to sql<br>
======================================================

In [33]:
df = pd.read_csv('..\dataset/employees.csv')
print(df)
conn = open_conn(DBName)
try:
    # Write the new DataFrame to a new SQLite table
    df.to_sql("employee", conn, if_exists="append", index=False)
    #df.to_sql("employee", conn, if_exists="replace", index=False)
    #df.to_sql("employee", conn, if_exists="fail", index=False)
    conn.commit()        
    print("DF To SQL Successful ...")
except:
    print("DF To SQL Failed ...")
# commit the changes to db			
if conn != None:
    conn.commit()
# close the connnection
if conn != None:
    close_conn(conn)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0           198       Donald     OConnell  DOCONNEL  650.507.9833  21-JUN-07
1           199      Douglas        Grant    DGRANT  650.507.9844  13-JAN-08
2           200     Jennifer       Whalen   JWHALEN  515.123.4444  17-SEP-03
3           201      Michael    Hartstein  MHARTSTE  515.123.5555  17-FEB-04
4           202          Pat          Fay      PFAY  603.123.6666  17-AUG-05
5           203        Susan       Mavris   SMAVRIS  515.123.7777  07-JUN-02
6           204      Hermann         Baer     HBAER  515.123.8888  07-JUN-02
7           205      Shelley      Higgins  SHIGGINS  515.123.8080  07-JUN-02
8           206      William        Gietz    WGIETZ  515.123.8181  07-JUN-02
9           100       Steven         King     SKING  515.123.4567  17-JUN-03
10          101        Neena      Kochhar  NKOCHHAR  515.123.4568  21-SEP-05
11          102          Lex      De Haan   LDEHAAN  515.123.4569  13-JAN-01
12          103    Alexander       Hunold   AHUNOLD  590.423.4567  03-JAN-06
13          104        Bruce        Ernst    BERNST  590.423.4568  21-MAY-07
14          105        David       Austin   DAUSTIN  590.423.4569  25-JUN-05
15          106        Valli    Pataballa  VPATABAL  590.423.4560  05-FEB-06
16          107        Diana      Lorentz  DLORENTZ  590.423.5567  07-FEB-07
17          108        Nancy    Greenberg  NGREENBE  515.124.4569  17-AUG-02
18          109       Daniel       Faviet   DFAVIET  515.124.4169  16-AUG-02
19          110         John         Chen     JCHEN  515.124.4269  28-SEP-05
20          111       Ismael      Sciarra  ISCIARRA  515.124.4369  30-SEP-05
21          112  Jose Manuel        Urman   JMURMAN  515.124.4469  07-MAR-06
22          113         Luis         Popp     LPOPP  515.124.4567  07-DEC-07
23          114          Den     Raphaely  DRAPHEAL  515.127.4561  07-DEC-02
24          115    Alexander         Khoo     AKHOO  515.127.4562  18-MAY-03
25          116       Shelli        Baida    SBAIDA  515.127.4563  24-DEC-05
26          117        Sigal       Tobias   STOBIAS  515.127.4564  24-JUL-05
27          118          Guy       Himuro   GHIMURO  515.127.4565  15-NOV-06
28          119        Karen   Colmenares  KCOLMENA  515.127.4566  10-AUG-07
29          120      Matthew        Weiss    MWEISS  650.123.1234  18-JUL-04
30          121         Adam        Fripp    AFRIPP  650.123.2234  10-APR-05
31          122        Payam     Kaufling  PKAUFLIN  650.123.3234  01-MAY-03
32          123       Shanta      Vollman  SVOLLMAN  650.123.4234  10-OCT-05
33          124        Kevin      Mourgos  KMOURGOS  650.123.5234  16-NOV-07
34          125        Julia        Nayer    JNAYER  650.124.1214  16-JUL-05
35          126        Irene  Mikkilineni  IMIKKILI  650.124.1224  28-SEP-06
36          127        James       Landry   JLANDRY  650.124.1334  14-JAN-07
37          128       Steven       Markle   SMARKLE  650.124.1434  08-MAR-08
38          129        Laura       Bissot   LBISSOT  650.124.5234  20-AUG-05
39          130        Mozhe     Atkinson  MATKINSO  650.124.6234  30-OCT-05
40          131        James       Marlow   JAMRLOW  650.124.7234  16-FEB-05
41          132           TJ        Olson   TJOLSON  650.124.8234  10-APR-07
42          133        Jason       Mallin   JMALLIN  650.127.1934  14-JUN-04
43          134      Michael       Rogers   MROGERS  650.127.1834  26-AUG-06
44          135           Ki          Gee      KGEE  650.127.1734  12-DEC-07
45          136        Hazel   Philtanker  HPHILTAN  650.127.1634  06-FEB-08
46          137       Renske       Ladwig   RLADWIG  650.121.1234  14-JUL-03
47          138      Stephen       Stiles   SSTILES  650.121.2034  26-OCT-05
48          139         John          Seo      JSEO  650.121.2019  12-FEB-06
49          140       Joshua        Patel    JPATEL  650.121.1834  06-APR-06

        JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0     SH_CLERK    2600             -         124             50
1     SH_CLERK    2600             -         124             50
2      AD_ASST    4400             -         101             10
3       MK_MAN   13000             -         100             20
4       MK_REP    6000             -         201             20
5       HR_REP    6500             -         101             40
6       PR_REP   10000             -         101             70
7       AC_MGR   12008             -         101            110
8   AC_ACCOUNT    8300             -         205            110
9      AD_PRES   24000             -          -              90
10       AD_VP   17000             -         100             90
11       AD_VP   17000             -         100             90
12     IT_PROG    9000             -         102             60
13     IT_PROG    6000             -         103             60
14     IT_PROG    4800             -         103             60
15     IT_PROG    4800             -         103             60
16     IT_PROG    4200             -         103             60
17      FI_MGR   12008             -         101            100
18  FI_ACCOUNT    9000             -         108            100
19  FI_ACCOUNT    8200             -         108            100
20  FI_ACCOUNT    7700             -         108            100
21  FI_ACCOUNT    7800             -         108            100
22  FI_ACCOUNT    6900             -         108            100
23      PU_MAN   11000             -         100             30
24    PU_CLERK    3100             -         114             30
25    PU_CLERK    2900             -         114             30
26    PU_CLERK    2800             -         114             30
27    PU_CLERK    2600             -         114             30
28    PU_CLERK    2500             -         114             30
29      ST_MAN    8000             -         100             50
30      ST_MAN    8200             -         100             50
31      ST_MAN    7900             -         100             50
32      ST_MAN    6500             -         100             50
33      ST_MAN    5800             -         100             50
34    ST_CLERK    3200             -         120             50
35    ST_CLERK    2700             -         120             50
36    ST_CLERK    2400             -         120             50
37    ST_CLERK    2200             -         120             50
38    ST_CLERK    3300             -         121             50
39    ST_CLERK    2800             -         121             50
40    ST_CLERK    2500             -         121             50
41    ST_CLERK    2100             -         121             50
42    ST_CLERK    3300             -         122             50
43    ST_CLERK    2900             -         122             50
44    ST_CLERK    2400             -         122             50
45    ST_CLERK    2200             -         122             50
46    ST_CLERK    3600             -         123             50
47    ST_CLERK    3200             -         123             50
48    ST_CLERK    2700             -         123             50
49    ST_CLERK    2500             -         123             50
Connection Successful ...
DF To SQL Failed ...
Connection Closed ...